.upMain {
  width: 79%;
  position: absolute;
  left: 20%;
  .drop {
    position: relative;
    float: right;
    width: 225px;
    background: #eaedf1;
    border-radius: 3px;
    margin-top: 15px;
    .down {
      display: none;
      text-align: center;
      &.active {
        display: block;
        padding-bottom: 10px;
      }
      p {
        width: 90%;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        border-radius: 3px;
        color: #637381;
        margin: 0 auto;
        padding: 10px 0;
        // &:nth-child(2) {
        // }
        &:hover {
          background-color: white;
        }
      }
    }
    .shown {
      width: 100%;
      display: flex;
      align-items: center;
      height: 50px;
      justify-content: center;
      cursor: pointer;
      h1 {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #637381;
        margin: 0 10px;
      }
    }
  }
  .contain {
    width: 96%;
    margin: auto;
    margin-right: 0;
    h1 {
      padding-top: 75px;
      margin: 0;
      font-size: 40px;
      line-height: 47px;
      padding-bottom: 30px;
    }
    .Navigation {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      .links {
        background-color: #eaedf1;
        border-radius: 3px;
        padding: 13px 0;
        width: fit-content;
        a {
          font-family: "Railway", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          border-radius: 3px;
          color: #667c8a;
          border: 1px solid #eaedf1;
          padding: 12px 42px;
          background-color: #eaedf1;
          &.activate {
            font-weight: bold;
            background: #ffffff;
            border: 1px solid #ba7f45;
            box-sizing: border-box;
            border-radius: 3px;
            padding: 14px 42px;
            color: #ba7f45;
          }
        }
      }
      .btn {
        margin-left: 16px;
        border-radius: 3px;
        font-size: 14px;
        line-height: 16px;
        padding: 13px 42px;
      }
    }
    .searchBox {
      width: 300px;
      padding-bottom: 15px;
      input {
        border: 1px solid #919eab;
        box-sizing: border-box;
        border-radius: 3px;
        &:focus,
        &:valid ~ label,
        &:not([value=""]) ~ label {
          outline: none;
          border-color: #ba7f45;
          box-shadow: none;
        }
      }
      label {
        font-size: 14px;
        line-height: 16px;
        color: #919eab;
      }
    }
    table.mainData {
      border: 1px solid #dadada;
      box-sizing: border-box;
      box-shadow: 5px 9px 50px rgba(130, 130, 130, 0.15);
      border-radius: 3px;
      width: 90%;
      padding: 18px 0;
      padding-bottom: 10px;
      border-collapse: inherit;
      border-spacing: 0;
      //   text-indent: ;
      .border {
        width: 100%;
        border: 1px solid #dadada;
      }
      tr {
        width: 100%;
        // height: 30px;
        // display: flex;
        // align-items: center;
        // padding: 23px 36px;
        // border-bottom-color: red !important;
        th {
          width: 12%;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          color: #919eab;
          padding-bottom: 5px;
          word-break: break-word;
          text-align: start;
          position: relative;
          &.p {
            // width: 80%;
            // font-size: 14px;
            // line-height: 16px;
            padding-top: 6px !important;
            padding-left: 6px !important;
            top: -3px !important;
            background: rgba(186, 127, 69, 0.2);
            border-radius: 3px;
            font-weight: bold;
            // height: 28px;
            // margin: 0;
            color: #ba7f45;
          }
          &:nth-child(1) {
            width: 14%;
            padding-left: 25px;
          }
          &:nth-child(8) {
            padding-right: 25px;
          }
          &:nth-child(7) {
            width: 9%;
          }
          &:nth-child(6) {
            width: 9%;
          }
          &:nth-child(2) {
            width: 12%;
          }
          &:nth-child(3) {
            width: 18%;
          }
          &:nth-child(5) {
            width: 12%;
          }
          &:nth-child(4) {
            width: 12%;
          }
        }
        td {
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;
          color: #667c8a;
          // word-break: break-all;
          word-break: break-word;
          height: 60px;
          border-bottom: 1px solid #dadada;
          padding-left: 5px;
          &:nth-child(1) {
            padding-left: 25px;
          }
          &:nth-child(8) {
            padding-right: 25px;
          }
          &:nth-child(7) {
            width: 0.5%;
          }
          &:nth-child(3) {
            padding-right: 5px;
          }
          // &:nth-child(6) {
          //   width: 9%;
          // }
          // &:nth-child(2) {
          //   width: 8%;
          // }
          // &:nth-child(5),
          // &:nth-child(4) {
          //   width: 8%;
          // }
          .select {
            width: 90%;
            position: relative;
            .dots {
              position: absolute;
              top: -8px;
              right: 27px;
              cursor: pointer;
              padding: 0;
              margin: 0;
              width: 0;
              border: none;
              .visible {
                &.menu {
                  width: 160px;
                  left: -140px;
                  i.icon,
                  i.icons {
                    font-size: 13px;
                    width: 18px;
                    margin-right: 3px;
                  }
                }
              }
              span.text {
                padding: 0;
                font-family: "Railway", sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                color: #667c8a;
              }
              i.icon,
              i.icons {
                font-size: 20px;
                color: #637381;
                margin: 0;
                width: 0;
                &.ellipsis.vertical:before {
                  color: rgba(0, 0, 0, 0.54);
                  // background-color: rgba(0, 0, 0, 0.54) !important;
                  background-color: transparent !important;
                }
                &:before {
                  background: transparent !important;
                }
              }
              .ui.button > .icon:not(.button) {
                margin: 0;
                width: 0;
              }
            }
            .set {
              position: absolute;
              width: 130%;
              color: #667c8a;
              padding: 10px 5px;
              margin-top: 2px;
              border: 0.5px solid #637381;
              box-sizing: border-box;
              border-radius: 3px;
              display: flex;
              flex-flow: column;
              align-items: center;
              background-color: white;
              z-index: 80;
              p {
                border: none;
                display: flex;
                align-items: center;
                cursor: pointer;
                span {
                  margin-right: 8px;
                }
              }
            }
            .opt {
              position: absolute;
              top: 0;
              width: 100%;
              color: #667c8a;
              padding: 10px;
              border: 0.5px solid #637381;
              box-sizing: border-box;
              border-radius: 3px;
              display: flex;
              flex-flow: column;
              align-items: center;
              background-color: white;
              z-index: 80;
              // justify-content: center;
              input {
                font-family: "Railway", sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 17px;
                width: 100%;
                padding: 10px;
                color: #667c8a;
                border: none;
                background-color: transparent;
                margin-bottom: 10px;
                box-sizing: border-box;
                border-radius: 3px;
                outline: none;
                cursor: pointer;
                &:hover {
                  background-color: #667c8a;
                  color: white;
                }
                &:nth-child(4) {
                  margin-bottom: 0;
                }
              }
            }
            h1 {
              width: 100%;
              font-weight: normal;
              font-size: 15px;
              line-height: 17px;
              margin: 0;
              color: #667c8a;
              cursor: pointer;
              padding: 10px;
              border: 1px solid transparent;
              box-sizing: border-box;
              border-radius: 3px;
              display: flex;
              align-items: center;
            }
            .p {
              width: 100%;
              font-weight: normal;
              font-size: 15px;
              line-height: 17px;
              margin: 0;
              color: #667c8a;
              cursor: pointer;
              padding: 10px;
              border: 0.5px solid #637381;
              box-sizing: border-box;
              border-radius: 3px;
              display: flex;
              align-items: center;
              .text {
                display: flex;
                align-items: center;
                padding-bottom: 0;
                img {
                  width: 15px;
                  height: 15px;
                }
              }
              .menu > .item {
                font-weight: normal;
                font-size: 15px;
                line-height: 17px;
                margin: 0;
                color: #667c8a;
                font-family: "Railway", sans-serif;
                font-style: normal;
                display: flex;
                align-items: center;
                img {
                  width: 15px;
                  height: 15px;
                }
              }
            }
            .circle {
              width: 15px;
              height: 15px;
              margin-right: 5px;
              margin-bottom: 1.5px;
            }
            .spanRight {
              position: absolute;
              right: 7%;
            }
          }
          .circle {
            width: 15px;
            height: 13.5px;
            border-radius: 50px;
            margin-right: 5px;
            &.a {
              background-color: #3cbb00;
            }
            &.b {
              background-color: #f57a00;
            }
            &.c {
              background-color: #667c8a;
            }
            &.d {
              background-color: #282c36;
            }
          }
          .booked {
            font-weight: normal;
            font-size: 15px;
            line-height: 17px;
            // margin-left: 10px;
            color: #667c8a;
            display: flex;
            align-items: center;
            padding: 0 10px;
            span {
              width: 15px;
              height: 13.5px;
              margin-right: 5px;
              .circle {
                width: 15px;
                height: 15px;
                border-radius: 50px;
                &.b {
                  background-color: #f57a00;
                }
              }
            }
          }
          .selBox {
            border: 0.5px solid #637381;
            box-sizing: border-box;
            border-radius: 3px;
            background-color: transparent;
            padding: 10px;
            width: 85%;
            display: flex;
            align-items: center;
            select {
              width: 100%;
              border: none;
              background-color: transparent;
              outline: none;
              font-weight: normal;
              font-size: 15px;
              line-height: 17px;
              // margin-left: 10px;
              text-align: center;
              color: #667c8a;
              // right: 5px;
              // -webkit-appearance: none;
              option {
                border: 0.5px solid #637381;
                box-sizing: border-box;
                border-radius: 3px;
                background-color: transparent;
                padding: 10px;
                &[value="Available"] {
                  // color: yellow;
                  background-image: url(../image/down.png);
                }
              }
            }
          }
          .MuiFormControl-root,
          .MuiInput-root {
            width: 95%;
          }
          button {
            padding: 10px 23px;
            outline: none;
            border: none;
            background-color: transparent;
            font-family: "Raleway", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            cursor: pointer;
            color: #667c8a;
            display: flex;
            align-items: center;
            // justify-content: center;
            span {
              margin-right: 10px;
              width: 18px;
              height: 18px;
              display: flex;
              align-items: center;
              img {
                width: 18px;
                height: 18px;
              }
            }
          }
        }
        &:last-child {
          td {
            border-bottom-color: transparent;
          }
        }
      }
    }
  }
}
.modalBack {
  position: relative;
  outline: none !important;
  .box {
    position: absolute;
    z-index: 800;
    top: 50%;
    left: 45%;
    transform: translate(-45%, -50%);
    background-color: white;
    outline: none !important;
    // max-width: 550px;
    width: 450px;
    // height: 220px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 24px;
    .head {
      width: 92%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        margin: 0;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #55575c;
      }
      img {
        cursor: pointer;
      }
    }
    .body {
      width: 92%;
      // display: flex;
      // justify-content: space-between;
      // align-items: center;
      // flex-flow: column;
      padding-top: 24px;
      p {
        font-family: "Raleway", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #667c8a;
        margin-bottom: 35px;
      }
      .bottom {
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .btn {
          font-weight: bold;
          font-size: 14px;
          line-height: 16px;
          margin-left: 10px;
          border-radius: 3px;
        }
        .loginBtn {
          font-weight: bold;
          font-size: 14px;
          line-height: 16px;
          border-radius: 3px;
          background-color: transparent;
        }
      }
    }
    .checkInfo {
      padding-top: 35px;
      width: 94%;
      margin: 0 auto;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      .bottom {
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .btn {
          font-weight: bold;
          font-size: 14px;
          line-height: 16px;
          margin-left: 10px;
          border-radius: 3px;
        }
        .loginBtn {
          font-weight: bold;
          font-size: 14px;
          line-height: 16px;
          border-radius: 3px;
          background-color: transparent;
        }
      }
      .top {
        width: 95%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .text {
          padding-bottom: 0;
        }
        .internal {
          padding-bottom: 37px;
          width: 170px;
          .css-1rhbuit-multiValue{
            background-color: #eee;
          }
          .css-12jo7m5{
            font-family: "Raleway",sans-serif;
            color: #667c8a;
            font-size: 14px;
          }
          .dropped {
            width: 240px;
            .MuiInputBase-root {
              font-family: "Raleway", sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 15px;
              line-height: 17px;
              color: #667c8a;
              background-color: white !important;
              &.MuiInput-underline {
                content: none !important;
                &::after,
                &::before {
                  border: none;
                }
              }
              @media (hover: none) {
                .MuiInput-underline:hover:not(.Mui-disabled):before {
                  border: none;
                }
              }
              .MuiInput-underline:hover:not(.Mui-disabled):before {
                border: none;
              }
              .MuiSelect-select {
                padding: 12px 24px 12px 14px;
                border: 0.5px solid #637381;
                box-sizing: border-box;
                border-radius: 3px;
                cursor: pointer;
                &:focus {
                  background-color: white !important;
                }
              }
            }
          }
          .p {
            width: 100%;
            font-weight: normal;
            font-size: 15px;
            line-height: 17px;
            margin: 0;
            color: #667c8a;
            cursor: pointer;
            padding: 10px;
            border: 0.5px solid #637381;
            box-sizing: border-box;
            border-radius: 3px;
            display: flex;
            align-items: center;
            .text {
              display: flex;
              align-items: center;
              padding-bottom: 0;
              img {
                width: 15px;
                height: 15px;
              }
            }
            .menu > .item {
              font-weight: normal;
              font-size: 15px;
              line-height: 17px;
              margin: 0;
              color: #667c8a;
              font-family: "Railway", sans-serif;
              font-style: normal;
              display: flex;
              align-items: center;
              img {
                width: 15px;
                height: 15px;
              }
            }
          }
          p {
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #919eab;
            margin-bottom: 16px;
          }
          h5 {
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            color: #667c8a;
            margin: 0;
            span {
              font-weight: normal;
              font-size: 12px;
              line-height: 14px;
            }
          }
        }
      }
    }
    .enterData {
      padding-top: 25px;
      width: 95%;
      margin: 0 auto;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      .btn {
        border-radius: 3px;
      }
      .select {
        width: 100%;
        position: relative;
        margin: 8px 0;
        .d {
          position: relative;
          z-index: 11;
          top: 0;
          width: 100%;
          height: 44px;
          background-color: transparent;
          border: 1px solid #667c8a;
          display: flex;
          align-items: center;
          .dropdown.icon {
            top: 1.2em;
          }
          .text {
            padding-bottom: 0;
            color: #667c8a;
            font-weight: 500;
            font-family: "Raleway", sans-serif;
            font-size: 18px;
            line-height: 21px;
          }
          .item {
            padding: 0 16px;
            a {
              font-family: "Raleway", sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 19px;
              color: #667c8a;
            }
            button {
              border: none;
              outline: none;
              font-family: "Raleway", sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 19px;
              color: #667c8a;
              background-color: transparent;
            }
          }
        }
        .opt {
          position: absolute;
          top: 0;
          width: 100%;
          color: #667c8a;
          padding: 10px;
          border: 0.5px solid #637381;
          box-sizing: border-box;
          border-radius: 3px;
          display: flex;
          flex-flow: column;
          align-items: center;
          background-color: white;
          z-index: 80;
          overflow-y: auto;
          height: 200px;
          // justify-content: center;
          input {
            font-family: "Raleway", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            width: 100%;
            padding: 10px;
            color: #667c8a;
            border: none;
            background-color: transparent;
            margin-bottom: 10px;
            box-sizing: border-box;
            border-radius: 3px;
            outline: none;
            cursor: pointer;
            &:hover {
              background-color: #667c8a;
              color: white;
            }
            &:nth-child(4) {
              margin-bottom: 0;
            }
          }
        }
        h1 {
          width: 100%;
          font-weight: normal;
          font-size: 15px;
          line-height: 17px;
          margin: 0;
          color: #667c8a;
          cursor: pointer;
          padding: 10px;
          border: 1px solid transparent;
          box-sizing: border-box;
          border-radius: 3px;
          display: flex;
          align-items: center;
          background-color: white;
        }
        h5 {
          position: absolute;
          width: fit-content;
          background-color: white;
          margin: 0;
          padding: 2px;
          font-weight: normal;
          font-size: 12px;
          line-height: 14px;
          z-index: 13;
          color: #667c8a;
          top: -9px;
          left: 9px;
        }
        p {
          width: 100%;
          font-weight: normal;
          font-size: 18px;
          line-height: 21px;
          margin: 0;
          color: #667c8a;
          cursor: pointer;
          padding: 11px 14px;
          border: 0.5px solid #637381;
          box-sizing: border-box;
          border-radius: 3px;
          display: flex;
          align-items: center;
        }
        .circle {
          width: 15px;
          height: 15px;
          margin-right: 5px;
          margin-bottom: 1.5px;
        }
        .spanRight {
          position: absolute;
          right: 7%;
        }
      }
      .date {
        width: 100%;
        .MuiOutlinedInput-notchedOutline {
          border-color: transparent;
          border-width: 1px;
        }
        .MuiFormControl-root {
          width: 100%;
          margin: 8px 0;
          .MuiInputLabel-outlined.MuiInputLabel-shrink {
            padding: 2px;
            transform: translate(9px, -7px) scale(0.65);
            background-color: white;
          }
          .MuiFormLabel-root {
            font-family: "Raleway", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            color: #667c8a;
          }
          .MuiInputLabel-outlined {
            transform: translate(14px, 12px) scale(1);
          }
          .MuiOutlinedInput-notchedOutline {
            border-color: transparent;
            border-width: 1px;
          }
          .MuiOutlinedInput-input {
            font-family: "Raleway", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            background-color: white;
            font-feature-settings: "pnum" on, "lnum" on;
            color: #667c8a;
            text-align: start;
            padding: 11px 15px;
            border: 1px solid #667c8a;
            border-radius: 3px;
          }
        }
      }
      .text-input {
        width: 100%;

        input:-webkit-autofill {
          box-shadow: 0 0 0px 1000px #fff inset;
          -webkit-text-fill-color: #667c8a;
          transition: background-color 5000s ease-in-out 0s;
        }
        label {
          font-weight: normal;
          font-size: 18px;
          line-height: 21px;
          color: #667c8a;
        }
        .input {
          border-radius: 3px;
          min-height: 40px;
          height: max-content;
          padding: 11px 15px;
          font-weight: 500;
          font-family: "Raleway", sans-serif;
          font-size: 18px;
          line-height: 21px;
          border: 1px solid #667c8a;
          color: #667c8a !important;

          &:focus ~ label,
          &:not([value=""]) ~ label {
            top: 0px;
            left: 8px;
            font-size: 12px;
            line-height: 14px;
            background-color: white;
            padding-left: 5px;
            padding-right: 5px;
            height: none;
            color: #667c8a;
          }

          // &:focus ~ label {
          //   color: #ba7f45;
          // }

          // &:focus,
          // &:valid ~ label,
          // &:not([value=""]) ~ label {
          //   outline: none;
          //   border-color: #ba7f45;
          //   box-shadow: none;
          // }
        }
      }
      .btn {
        margin-top: 17px;
      }
    }
  }
}

.MuiPopover-root {
  .MuiPaper-root {
    ul {
      li {
        .MuiCheckbox-root {
          color: #ba7f45;
        }
        .MuiCheckbox-colorSecondary.Mui-checked {
          color: #ba7f45;
        }
        .MuiTypography-body1 {
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 14px;
          font-family: "Raleway", sans-serif;
          color: #55575c;
        }
      }
    }
  }
}

.dateFil {
  opacity: 0;
  position: absolute;
  top: -10px;
  cursor: pointer !important;
  z-index: 2;
  .MuiInputBase-root {
    cursor: pointer !important;
  }
}
