// @import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap");

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-numeric: lining-nums;
  width: 100%;
  overflow-x: hidden !important;

  .App {
    width: 100%;
    overflow-x: hidden;
  }

  .text {
    width: 100%;
    padding-bottom: 55px;
    h1 {
      margin-top: 0;
    }
  }
  @media (max-width: 520px) {
    .text {
      text-align: left;
      padding-bottom: 55px;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    font-family: "Raleway", sans-serif;
    color: #ba7f45;
  }

  p {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 31px;
    color: #667c8a;
  }

  .container {
    width: 90%;
    margin: auto;
  }

  .modal {
    position: relative;
    outline: none !important;
    .box {
      position: absolute;
      z-index: 800;
      top: 50%;
      left: 45%;
      transform: translate(-45%, -50%);
      background-color: white;
      outline: none !important;
      width: 510px;
      height: 270px;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      h1 {
        margin: 0;
        margin-bottom: 28px;
      }
      p {
        width: 80%;
        margin: 0;
        padding-bottom: 40px;
        text-align: center;
      }
    }
  }

  .afterLogin {
    position: relative;
    .loginBtn {
      padding-left: 20px;
      padding-right: 20px;
      span {
        margin-right: 15px !important;
        .acc {
          border-radius: 50px;
          background-color: #ba7f45;
          color: white;
          font-weight: bold;
          font-size: 16px;
          line-height: 19px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
          padding: 6px 11px;
          margin-right: 8px;
        }
      }
    }
    .d {
      position: absolute;
      top: 0;
      width: 100%;
      height: 44px;
      background-color: transparent;
      .icon {
        display: none;
      }
      .menu {
        top: 102%;
        @media(max-width:480px){
          right: -5%;
          top: 115%;
        }
      }
      .item {
        padding: 0 16px;
        a {
          font-family: "Raleway", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          color: #667c8a;
        }
        button {
          border: none;
          outline: none;
          font-family: "Raleway", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          color: #667c8a;
          background-color: transparent;
        }
      }
    }
  }

  .modalPop {
    position: relative;
    outline: none !important;
    .box {
      position: absolute;
      z-index: 800;
      top: 50%;
      left: 45%;
      transform: translate(-45%, -50%);
      background-color: white;
      outline: none !important;
      max-width: 545px;
      // height: 270px;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      padding: 35px;
      @media(max-width:445px){
        padding: 15px;
      }
      .head {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 18px;
        h1 {
          font-weight: bold;
          font-size: 18px;
          line-height: 21px;
          margin: 0;
        }
        img {
          cursor: pointer;
        }
      }
      .body {
        width: 470px;
        @media(max-width:565px){
          width: 350px;
        }
        @media(max-width:445px){
          width: 280px;
        }
        .otp {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          @media(max-width:445px){
           flex-flow: column; 
          }
          .textInput {
            width: 60%;
            @media(max-width:445px){
              width: 90%;
            }
          }
          .resend {
            border: none;
            outline: none;
            background-color: transparent;
            color: #ba7f45;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            text-decoration-line: underline;
          }
        }
        .in {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 15px;
          p {
            font-style: normal;
            font-size: 14px;
            line-height: 19px;
            font-feature-settings: "pnum" on, "lnum" on;
            color: #667c8a;
            margin: 0;
          }
        }
        p {
          margin: 0;
          margin-top: 10px;
          font-weight: 500;
          font-size: 14px;
          line-height: 19px;
          color: #667c8a;
          font-style: italic;
          &.normal{
            font-style: normal;
          }
        }
      }
    }
  }

  .btn {
    padding: 10px 23px;
    outline: none;
    border: none;
    background-color: #ba7f45;
    font-family: "Raleway", sans-serif;
    border-radius: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
    &:hover {
      color: white;
    }
    span {
      margin-left: 10px;
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      img {
        width: 27px;
        height: 27px;
      }
    }
  }

  .loginBtn {
    padding: 10px 23px;
    // padding: 7px 20px;
    outline: none;
    border: none;
    background-color: #eaedf1;
    font-family: "Raleway", sans-serif;
    border-radius: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    color: #ba7f45;
    display: flex;
    align-items: center;
    justify-content: center;
    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
    &:hover {
      color: #ba7f45;
    }
    span {
      margin-right: 10px !important;
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      img {
        width: 27px;
        height: 27px;
      }
    }
  }

  .Slider {
    width: 100%;
  }

  .Slide {
    overflow-x: scroll;
    display: flex;
    /* width: 2000px; */
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .Slide::-webkit-scrollbar {
    display: none;
  }

  a {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    text-decoration: none;
  }

  .slickNext {
    position: absolute;
    display: block !important;
    width: 40px;
    height: 40px;
    padding: 0;
    top: 45%;
    transform: translate(0, -45%);
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    right: -56px;
  }

  .slickNext img {
    width: 40px !important;
    height: 40px !important;
  }

  .slickNext::before {
    opacity: 0;
  }

  .slickPrev::before {
    opacity: 0;
  }

  .slick-disabled {
    opacity: 0;
  }

  .slickPrev {
    position: absolute;
    display: block !important;
    width: 40px;
    height: 40px;
    padding: 0;
    top: 45%;
    transform: translate(0, -45%);
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    left: -56px;
  }

  .slickPrev img {
    width: 40px !important;
    height: 40px !important;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px #fff inset;
    -webkit-text-fill-color: #919eab;
    transition: background-color 5000s ease-in-out 0s;
  }
  input:-webkit-autofill:focus {
    box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #919eab;
  }

  .text-input {
    position: relative;
    padding: 0;
    display: block;
    .error-text {
      text-align: start;
      color: red;
      font-size: 12px;
      line-height: 14px;
      margin: 0;
      padding-bottom: 5px;
      padding-left: 5px;
    }
    label {
      position: absolute;
      top: 19px;
      left: 15px;
      padding: 0;
      color: #919eab;
      pointer-events: none;
      transition: 0.5s;
      z-index: 10;
      margin-bottom: 0;
      font-family: "Raleway", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      span {
        color: #ba7f45;
      }
    }
    .input {
      width: 100%;
      height: 40px;
      border: 1px solid #919eab;
      outline: none;
      box-sizing: border-box;
      border-radius: 10px;
      margin: 8px 0;
      padding: 0 10px;
      font-size: 16px;
      line-height: 19px;
      font-weight: 500;
      font-family: "Raleway", sans-serif;
      color: #919eab;

      &::-webkit-input-placeholder,
      &:-moz-placeholder,
      &:-ms-input-placeholder {
        color: #919eab;
        font-size: 14px;
      }

      &:focus ~ label,
      &:not([value=""]) ~ label {
        top: 0px;
        left: 8px;
        font-size: 12px;
        background-color: white;
        padding-left: 5px;
        padding-right: 5px;
        height: none;
        color: #919eab;
      }

      &:focus ~ label {
        color: #ba7f45;
      }

      &:focus,
      &:valid ~ label,
      &:not([value=""]) ~ label {
        outline: none;
        border-color: #ba7f45;
        box-shadow: none;
      }
    }

    textarea.textfield {
      height: 90px;
      width: 100%;
      outline: none;
      border: 1px solid #919eab;
      box-sizing: border-box;
      border-radius: 10px;
      margin: 8px 0;
      resize: none;
      padding: 10px 8px;
      font-size: 16px;
      line-height: 19px;
      font-weight: 500;
      font-family: "Raleway", sans-serif;
      color: #919eab;

      &:focus ~ label {
        color: #ba7f45 !important;
      }

      &:focus ~ label {
        color: #ba7f45;
        top: 0px;
        left: 10px;
        font-size: 12px;
        background-color: white;
        padding-left: 5px;
        padding-right: 5px;
        height: none;
        color: #919eab;
      }

      &:focus,
      &:valid ~ label,
      &:not([value=""]) ~ label {
        outline: none;
        border-color: #ba7f45;
        box-shadow: none;
      }

      &.has-value ~ label {
        top: 0px;
        left: 10px;
        font-size: 12px;
        background-color: white;
        padding-left: 5px;
        padding-right: 5px;
        color: #919eab;
        outline: none;
        border-color: blue;
        box-shadow: none;
      }
      &.has-value:focus ~ label {
        color: blue;
      }
    }
  }
}

code {
  font-family: "Raleway", sans-serif;
}
